@import './base.css';

#app {
  display: flex;
  flex-direction: column;
  height: 100%;

  > :nth-child(1),
  > :nth-child(3) {
    flex: 0 0;
  }

  > :nth-child(2) {
    flex: 1 0;
  }
}

.text-center {
  text-align: center;
}
